<div class="container">
    <div class="title">
        <span class="title-part-1">Become a</span>
        <span class="title-part-2">Seller</span>
    </div>
    <div class="container-body">
        <form [formGroup]="sellerForm">
            <div class="sub-body">
                <div class="sub-body-title">
                    <h5 class="sub-title">Business Details</h5>
                    <hr>
                </div>
                <p>
                    <mat-form-field class="custom-form-field" appearance="outline">
                        <mat-label>Enter Store Name</mat-label>
                        <input matInput placeholder="company name" formControlName="companyName" />
                        <mat-hint>Company Name will be displayed as seller name to user.</mat-hint>
                        <mat-error *ngIf="sellerForm.controls['companyName'].errors?.['required']">company name is required</mat-error>
                    </mat-form-field>
                </p>
                <p class="logo-section">
                    <input type="file" class="file-input" (change)="onSelectFile($event)"/>
                    <button class="btn" [disabled]="fileError || !selectedFile" (click)="uploadIMage()">Upload Logo</button>
                </p>
                <mat-error *ngIf="fileError">{{ fileError }}</mat-error>
            </div>
            <div class="sub-body">
                <div class="sub-body-title">
                    <h5 class="sub-title">Tax Details</h5>
                    <hr>
                </div>
                <p class="cat-section">
                    <button class="cat-btn" (click)="allCategoriesBtn()">All Categories</button>
                    <button class="btn" (click)="onlyBooksBtn()">Only Books</button>
                </p>
                <p>
                    <mat-form-field appearance="outline" *ngIf="allCategories">
                        <mat-label>GSTIN Number</mat-label>
                        <input matInput placeholder="enter GSTIN Number" formControlName="gstNumber"/>
                        <mat-hint>GSTIN is required to sell products on Urbanchic.</mat-hint>
                        <mat-error *ngIf="sellerForm.controls['gstNumber'].errors?.['required']">gstin is required</mat-error>
                        <mat-error *ngIf="sellerForm.controls['gstNumber'].errors?.['pattern']">enter valid gst number</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>PAN Number</mat-label>
                        <input matInput placeholder="enter PAN Number" formControlName="panNumber"/>
                        <mat-hint>PAN Number is required for gst excempted product.</mat-hint>
                        <mat-error *ngIf="sellerForm.controls['panNumber'].errors?.['required']">pan number is required</mat-error>
                        <mat-error *ngIf="sellerForm.controls['panNumber'].errors?.['pattern']">enter valid pan number</mat-error>
                    </mat-form-field>
                </p>
            </div>
            <div class="sub-body">
                <div class="sub-body-title">
                    <h5 class="sub-title">Bank Details</h5>
                    <hr>
                </div>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input type="text" matInput placeholder="enter Account Number" formControlName="accountNumber"/>
                        <mat-hint>Bank details is for receiving payment from urbanchic.</mat-hint>
                        <mat-error *ngIf="sellerForm.controls['accountNumber'].errors?.['required']">account number is required</mat-error>
                        <mat-error *ngIf="sellerForm.controls['accountNumber'].errors?.['minlength']">enter valid account number</mat-error>
                        <mat-error *ngIf="sellerForm.controls['accountNumber'].errors?.['maxlength']">enter valid account number</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput placeholder="enter IFSC Code" formControlName="ifscCode"/>
                        <mat-error *ngIf="sellerForm.controls['ifscCode'].errors?.['required']">ifsc code is required</mat-error>
                        <mat-error *ngIf="sellerForm.controls['ifscCode'].errors?.['pattern']">enter valid ifsc code</mat-error>
                    </mat-form-field>
                </p>
            </div>
            <div class="sub-body">
                <div class="sub-body-title">
                    <h5 class="sub-title">Pickup Address</h5>
                    <hr>
                </div>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Street</mat-label>
                        <input matInput placeholder="enter street name" formControlName="street" />
                        <mat-error *ngIf="sellerForm.controls['street'].errors?.['required']">street name is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="enter city name" formControlName="city" />
                        <mat-error *ngIf="sellerForm.controls['city'].errors?.['required']">city name is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="enter state name" formControlName="state" />
                        <mat-error *ngIf="sellerForm.controls['state'].errors?.['required']">state name is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="enter country name"  formControlName="country"/>
                        <mat-error *ngIf="sellerForm.controls['country'].errors?.['required']">country name is required</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Postal Code</mat-label>
                        <input type="number" matInput placeholder="enter postal code" formControlName="postalCode" />
                        <mat-error *ngIf="sellerForm.controls['postalCode'].errors?.['required']">postal code is required</mat-error>
                        <mat-error *ngIf="sellerForm.controls['postalCode'].errors?.['pattern']">enter valid postal code</mat-error>
                        <mat-hint>Enter your pick-up address.</mat-hint>
                    </mat-form-field>
                </p>
                <button class="submit-btn" (click)="submitForm()" [disabled]="!sellerForm.valid">Save & Continue</button>
            </div>
        </form>
    </div>
</div>