<app-navbar [showFavoriteButton]="false"></app-navbar>
<div class="mobile-container">
    <div class="filter-action">
        <h6 class="heading">Your Favorites</h6>
        <mat-icon class="heart-icon">favorite</mat-icon>
    </div>
    <!-- Product Card -->
    <div class="product-card">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <!-- Product Card Ends Here -->
    <div class="product-card ">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <div class="product-card">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <div class="product-card ">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <div class="product-card ">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <div class="product-card ">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <div class="product-card ">
        <div class="img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="product-info-div">
            <h6 class="product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="product-info">Color: White, Black  Size: 7</h6>
            <p class="price">$150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
</div>



<div class="container">
    <div class="filter-action">
        <h6 class="heading">Your Favorites</h6>
        <mat-icon class="large-heart-icon">favorite</mat-icon>
    </div>
     <!-- Product Card -->
    <div class="large-product-card">
        <div class="large-img-div ">
            <img src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1726674948/product-image/lkbospkuaq1qcq09ndhs.jpg" alt="Product Image">
        </div>
        <div class="large-product-info-div">
            <h6 class="large-product-name">Red Tap Casual Sneaker Shoes</h6>
            <h6 class="large-product-info">Color: White, Black  Size: 7</h6>
            <p class="large-price">₹150.00</p>
        </div>
        <div class="action-div">
            <button mat-icon-button class="remove-btn"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <!-- Product Card Ends Here -->
</div>