.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-registration{
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(146, 230, 146);
    padding-left: 20px;
}
.form-group{
    width: 600px;
    height: 45px;
    margin-bottom: 25px;
}
.form-group input:first-child {
    width: 585px;
    height: 100%;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    transition: all 0.1s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-group input:first-child:focus {
    outline: none;
    border-bottom: 2px solid rgb(50, 94, 21);

}
.mobile-verification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-verification #mobile-number{
    width: 400px;

}
.mobile-verification button{
    height: 100%;
    width: 100px;
    color: white;
    background-color: rgb(10, 136, 52);
    border: none;

}

.submit-button button{

    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(10, 136, 52);
    border: none;
  
}
p{
    font-family: poppins;
}
p>a{
    color: blue;
    font-weight: bold;
}

