:host * {
    transition: all 400ms ease-in-out;
    --primary-color: #224F34 !important;
}

.nav-title {
    color: #224F34;
    font-size: 22px;
    font-weight: bold;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    position: relative;
    z-index: 5;
    background-color: #C2F0D4;
}

.sidenav-container {
    flex: 1;
    display: flex;
}

.sidenav-fixed {
    position: fixed;
    height: calc(100% - 64px);
    /* Change: Adjusted height to account for the toolbar */
    background-color: #C2F0D4;
    top: 64px;
    /* Change: Start below the toolbar */
}

mat-sidenav,
mat-sidenav-content {
    transition: all 400ms ease-in-out;
}

mat-sidenav {
    background-color: #C2F0D4;
    padding: 2px;
    border-radius: 1px;
}

mat-nav-list a {
    background-color: #C2F0D4 !important;
}

.menu-item {
    padding: 5px;
    border-radius: 5px !important;
    border-left: 6px solid;
    border-left-color: rgba(0, 0, 0, 0) !important;
}

.selected-menu-item {
    border-left-color: #224F34 !important;
}

.nav-spacer {
    flex: 1 1 auto;
}

.name {
    font-size: 18px;
    color: #224F34;
}

.log-out-btn {
    --mdc-protected-button-label-text-color: #1E1E1E;
}

.mat-divider {
    margin: 5px !important;
    border-top-width: 3px !important;
    border-radius: 8px;
    border-color: #1e1e1e !important;
}

.bottom-nav-list {
    margin-top: 130px !important;
}

mat-sidenav-content {
    margin-left: auto;
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
    height: calc(100vh - 64px);
    box-sizing: border-box;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}