/* Css Mobile */
.mobile-container {
    padding: 10px;
}

.add-btn {
    border: 2px solid #224F34;
    border-radius: 5px;
    width: 100%;
    color: #224F34;
}

.address-div {
    border: 2px solid #1e1e1e;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.address-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    background-color: #B7B7B7;
    color: rgb(67, 65, 65);
    font-size: 12px;
    font-weight: 500;
    padding: 1px 5px;
    border-radius: 2px;
    margin-right: 5px;
}

.personal-info-div {
    display: flex;
    gap: 20px;
    height: 20px;
}

.personal-info {
    font-size: 14px;
    font-weight: 500;
}

.address-info-div {
    display: flex;
    height: 25px;
    gap: 5px;
}

.address-info {
    font-size: 13px;
}

.edit-address-div {
    border: 2px solid #1e1e1e;
    margin-top: 10px;
    padding: 10px;
}

.edit-heading {
    font-size: 16px;
    font-weight: 500;
}

.form-field {
    width: 100%;
}

.radio-container {
    margin: 0 auto;
    max-width: 100%;
    color: #1e1e1e;
    padding: 0px 0px 10px 0px;
    /* border: 2px solid red; */
}

.radio-wrapper {
    margin-bottom: 10px;
    margin-left: 10px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 400;
}

.type-label {
    margin-left: 5px;
    margin-bottom: 30px;
}
.edit-action-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancle-btn{
    background-color: #A82E2E;
    color: white;
    border-radius: 8px;
}
.save-btn{
    background-color: #224F34;
    color: white;
    border-radius: 8px;
}
/*  Css Mobile*/





/* Media query */
/* Extra small devices (phones) */
@media (max-width: 767.98px) {
    /* CSS for small screens (both portrait and landscape) */

}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1199.98px) {

    /* CSS for medium screens (both portrait and landscape) */
    /* .mobile-container {
        display: none;
    } */
}

/* Large devices (desktops) */
@media (min-width: 1200px) {

    /* CSS for large screens */
    .mobile-container {
        display: none;
    }
}