<div class="mobile-container">
    <button mat-button class="add-btn mat-elevation-z3" (click)="showAddNewAddressDiv()"><mat-icon>add</mat-icon>Add New
        Address</button>

    <!-- Add New Address -->
    <div class="edit-address-div" *ngIf="showAddNewAddress">
        <form [formGroup]="addressForm">
            <h6 class="edit-heading">Add New Address</h6>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>House No.</mat-label>
                <input matInput placeholder="House Number" formControlName="houseNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" formControlName="streetName" />
                <mat-error *ngIf="addressForm.controls['streetName'].errors?.['required']">street name is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Landmark</mat-label>
                <input matInput placeholder="landmark" formControlName="landmark" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city" />
                <mat-error *ngIf="addressForm.controls['city'].errors?.['required']">city name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>District</mat-label>
                <input matInput placeholder="District" formControlName="district" />
                <mat-error *ngIf="addressForm.controls['district'].errors?.['required']">state name is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>State</mat-label>
                <input matInput placeholder="State" formControlName="state" />
                <mat-error *ngIf="addressForm.controls['state'].errors?.['required']">state name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Pincode</mat-label>
                <input matInput placeholder="Pincode" formControlName="pincode" />
                <mat-error *ngIf="addressForm.controls['pincode'].errors?.['required']">pincode is required</mat-error>
            </mat-form-field>
            <mat-label class="type-label">Address Type*</mat-label>
            <div class="radio-container">
                <div class="radio-wrapper">
                    <label class="radio-button">
                        <input id="option1" name="addressLabel" [value]="addressLabel.HOME" type="radio" checked
                            formControlName="addressLabel">
                        <span class="radio-checkmark"></span>
                        <span class="radio-label">Home</span>
                    </label>
                </div>

                <div class="radio-wrapper">
                    <label class="radio-button">
                        <input id="option2" name="addressLabel" [value]="addressLabel.WORK" type="radio"
                            formControlName="addressLabel">
                        <span class="radio-checkmark"></span>
                        <span class="radio-label">Work</span>
                    </label>
                </div>
            </div>
            <div class="edit-action-div">
                <button mat-button class="cancle-btn mat-elevation-z3" (click)="closeAddNewAddressDiv()">Cancel</button>
                <button mat-button class="save-btn mat-elevation-z3" (click)="saveAddress()">Save</button>
            </div>
        </form>
    </div>
    <!-- Add New Address Ends Here -->


    <!-- Show Address Div -->
    @for (address of addressList; let i= $index; track $index) {
    <div class="address-div mat-elevation-z3" *ngIf="!showEditAddress">
        <div class="address-action">
            <span class="badge">{{address.addressLabel}}</span>
            <button mat-icon-button [matMenuTriggerFor]="actionMenu"><mat-icon>more_vert</mat-icon></button>
        </div>
        <div class="personal-info-div">
            <h6 class="personal-info">{{address.streetName}} </h6>
        </div>
        <div class="address-info-div">
            <h6 class="address-info"> {{address.city}} ,</h6>
            <h6 class="address-info">{{address.state}} ,</h6>
            <h6 class="address-info">India</h6>
            <h6 class="personal-info">- {{address.pinCode}} </h6>
        </div>
    </div>
    <mat-menu #actionMenu>
        <button mat-menu-item (click)="showEditAddressDiv(i)">Edit</button>
        <button mat-menu-item (click)="deleteAddressById(address.id)" class="cancel-color">Delete</button>
    </mat-menu>

    <!-- <ng-template #deleteDialog>
            <mat-dialog-content>
                <p>Are you sure you want to delete this address.</p>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button (click)="closeDeleteDialog()">Cancel</button>
                <button mat-button class="btn" (click)="deleteAddressById(address.id)">Delete</button>
            </mat-dialog-actions>
        </ng-template> -->

    }

    <!-- Show Address Div Ends Here -->


     <!-- Edit Address Div -->
     <div class="edit-address-div" *ngIf="showEditAddress">
        <form [formGroup]="addressForm">
            <h6 class="edit-heading">Edit Address</h6>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>House No.</mat-label>
                <input matInput placeholder="House Number" formControlName="houseNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" formControlName="streetName" />
                <mat-error *ngIf="addressForm.controls['streetName'].errors?.['required']">street name is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Landmark</mat-label>
                <input matInput placeholder="landmark" formControlName="landmark" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city" />
                <mat-error *ngIf="addressForm.controls['city'].errors?.['required']">city name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>District</mat-label>
                <input matInput placeholder="District" formControlName="district" />
                <mat-error *ngIf="addressForm.controls['district'].errors?.['required']">state name is
                    required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>State</mat-label>
                <input matInput placeholder="State" formControlName="state" />
                <mat-error *ngIf="addressForm.controls['state'].errors?.['required']">state name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Pincode</mat-label>
                <input matInput placeholder="Pincode" formControlName="pincode" />
                <mat-error *ngIf="addressForm.controls['pincode'].errors?.['required']">pincode is required</mat-error>
            </mat-form-field>
            <mat-label class="type-label">Address Type</mat-label>
            <div class="radio-container">
                <div class="radio-wrapper">
                    <label class="radio-button">
                        <input id="option1" name="addressLabel" type="radio" [value]="addressLabel.HOME" [checked]="addressForm.get('addressLabel')?.value === addressLabel.HOME" formControlName="addressLabel">
                        <span class="radio-checkmark"></span>
                        <span class="radio-label">Home</span>
                    </label>
                </div>

                <div class="radio-wrapper">
                    <label class="radio-button">
                        <input id="option2" name="addressLabel" type="radio" [value]="addressLabel.WORK" [checked]="addressForm.get('addressLabel')?.value === addressLabel.WORK" formControlName="addressLabel">
                        <span class="radio-checkmark"></span>
                        <span class="radio-label">Work</span>
                    </label>
                </div>
            </div>
            <div class="edit-action-div">
                <button mat-button class="cancle-btn mat-elevation-z3" (click)="cancelEditAddress()">Cancel</button>
                <button mat-button class="save-btn mat-elevation-z3" (click)="updateAddressById()" >Update</button>
            </div>
        </form>
    </div>
    <!-- Edit Address Div Ends Here -->



</div>