<div class="container">
    <mat-grid-list cols="1" rowHeight="130px"  gutterSize="10px" class="top-bar">
        <mat-grid-tile> 
           <div class="one">
            <mat-icon class="custom-icon">account_circle</mat-icon>
           </div>
           <div class="two">
            <h5>John Smith</h5>
            <p>johnsmit134gmail.com</p>
            <p>+91 8319348293</p>
           </div>
           <div class="three">
            <button>Update</button>
           </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="485px"  gutterSize="10px">
        <mat-grid-tile>
           <div class="left">
                <h6>GSTIN Number</h6>
                <p>29ABCDE1234F1Z5</p>
                <mat-divider></mat-divider>
                <h6>PAN Number</h6>
                <p>ABCDE1234F</p>
                <mat-divider></mat-divider>
                <h6>Account Number</h6>
                <p>1234567890123456</p>
                <mat-divider></mat-divider>
                <h6>IFSC Code</h6>
                <p>SBIN0001234</p>
                <mat-divider></mat-divider>
                <button>Update</button>
           </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="left">
                <h6>Street Name</h6>
                <p>29ABCDE1234F1Z5</p>
                <mat-divider></mat-divider>
                <h6>City Name</h6>
                <p>ABCDE1234F</p>
                <mat-divider></mat-divider>
                <h6>State Name</h6>
                <p>1234567890123456</p>
                <mat-divider></mat-divider>
                <h6>Country</h6>
                <p>SBIN0001234</p>
                <mat-divider></mat-divider>
                <h6>Postal Code</h6>
                <p>SBIN0001234</p>
                <mat-divider></mat-divider>
                <button>Update</button>
           </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>  