/* .container{
    padding: 5px;
} */
mat-grid-tile {
    background: #C2F0D4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex !important;
    flex-direction: column !important;

}

mat-grid-tile-footer {
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    background-color: #F3EFEF !important;
}

button {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: #224f34;
    color: white;
    border: 3px solid #224f34;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

.custom-icon {
    font-size: 130px;
    /* Change this value to adjust the size */
    height: 130px;
    width: 130px;
}

.one {
    width: 30%;
}

.two {
    width: 40%;
}

.three {
    width: 20%;
}

.four {
    width: 50%;
}

.five {
    width: 20%;
}

h5 {
    font-size: 28px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h6 {
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.top-bar {
    margin-bottom: 15px;
}

.mat-divider {
    height: 2px !important;
    margin-bottom: 10px !important;
    border-top-width: 3px !important;
    border-radius: 8px !important;
}

.left {
    padding: 10px;
    /* background-color: red; */
    width: 70%;
    height: 70%;
}

.dialog-submit-btn {
    margin-left: 10px;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dialog-close-btn {
    background-color: #A82E2E;
    border: 2px solid #A82E2E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

ng-template {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

mat-dialog-content {
    padding: 5px !important;
}

.dialog-content {
    display: flex !important;
    flex-direction: column !important;
    ;
    justify-content: center !important;
    align-items: center !important;
}

mat-form-field {
    width: 370px;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.file-input-lable {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: baseline;
    text-transform: uppercase;
    color: #fff;
    background-color: #c0392b;
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.upload-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.uploaded-image {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.image-preview {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.preview-img {
    max-width: 100%;
    max-height: 200px;
}
.company-logo{
    width: 100px;
    height: 40px;
}
.spinner-overlay {
    position: fixed;      /* Fixes the position relative to the viewport */
    top: 0;               /* Aligns the overlay to the top of the viewport */
    left: 0;              /* Aligns the overlay to the left of the viewport */
    width: 100vw;         /* Full width of the viewport */
    height: 100vh;        /* Full height of the viewport */
    display: flex;        /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
    z-index: 1000;        /* Makes sure the overlay is above other content */
}
  
  