<div class="heading">
    <h2 class="heading-title">
        <span class="heading-title-part1">Business & Tax</span><br>
        <span class="heading-title-part2">Details</span>
    </h2>
</div>
<div class="container">
    <div class="title">
        <h3 class="title-name">Business Details</h3>
        <hr>
    </div>
    <div class="content">
        <div>
            <label for="companyName">Company Name</label>
        </div>
        <div>
            <input class="inp" type="text" name="companyName" id="companyName">
        <h6 class="inp-description">Company Name will be displayed as seller name to user.</h6>
        </div>
        <div>
            <label for="companyLogo">Company Logo</label>
        </div>
       <div class="logo-btn">
        <input class="styled-file-input" type="file" id="companyLogo" id="companyLogo" name="companyLogo">
        <button class="btn">Upload Logo</button>
       </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3 class="title-name">Tax Details</h3>
        <hr>
    </div>
    <div class="content">
        <div class="tax-btns">
            <button class="btn">All Categories</button>
        <button class="btn books-btn">Only Books</button>
        </div>
        <div>
            <label for="companyName">GSTIN Number</label>
        </div>
        <div>
            <input class="inp" type="text" name="companyName" id="companyName">
        <h6 class="inp-description">GSTIN is required to sell products on Urbanchic.</h6>
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3 class="title-name">Bank Details</h3>
        <hr>
    </div>
    <div class="content">
        <div>
            <label for="accountNumber">Account Number</label>
        </div>
        <div>
            <input class="inp" type="text" name="accountNumber" id="accountNumber">
        <h6 class="inp-description">Bank details is for receiving payment from urbanchic.</h6>
        </div>
        <div>
            <label for="ifscCode">IFSC Code</label>
        </div>
        <div>
            <input class="inp" type="text" name="ifscCode" id="ifscCode">
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h3 class="title-name">Pick-up Details</h3>
        <hr>
    </div>
    <div class="content">
        <div>
            <label for="street">Street</label>
        </div>
        <div>
            <input class="inp" type="text" name="street" id="street">
        </div>
        <div>
            <label for="city">City</label>
        </div>
        <div>
            <input class="inp" type="text" name="city" id="city">
        </div>
        <div>
            <label for="state">State</label>
        </div>
        <div>
            <input class="inp" type="text" name="state" id="state">
        </div>
        <div>
            <label for="country">Country</label>
        </div>
        <div>
            <input class="inp" type="text" name="country" id="country">
        </div>
        <div>
            <label for="postalCode">Postal Code</label>
        </div>
        <div>
            <input class="inp" type="text" name="postalCode" id="postalCode">
        </div>
    </div>
    <button type="submit" class="save-btn">Save & Continue</button>
</div>
