server:
  port: 8086

spring:
  application:
    name: SellerService

  data:
    mongodb:
      host: localhost
      port: 27017
      database: ms_sellerservice_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
