<app-navbar [showProfileButton]="false"></app-navbar>
<div class="container">
    <div class="left-div">
        <div class="top-div mat-elevation-z3">
            <mat-icon class="profile-icon">account_circle</mat-icon>
            <p class="hello">Hello,</p>
            <h6 class="user-name">John Doe</h6>
        </div>
        <div class="middle-div mat-elevation-z3">
            <mat-list>
                <mat-list-item>
                    <button mat-button class="left-btn"><mat-icon class="left-icon">person</mat-icon>My Profile</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button class="left-btn"><mat-icon class="left-icon">location_city</mat-icon>Manage
                        Address</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button class="left-btn"><mat-icon class="left-icon">history</mat-icon>Order
                        History</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button class="left-btn"><mat-icon class="left-icon">star</mat-icon>Reviews &
                        Ratings</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button class="left-btn"><mat-icon class="left-icon">help</mat-icon>Help</button>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="bottom-div mat-elevation-z3">
            <button mat-button color="primary" class="log-out-btn">Logout</button>
        </div>
    </div>
    <div class="right-div mat-elevation-z3">
        <h5>right div</h5>
    </div>
</div>