<app-navbar [showProfileButton]="false"></app-navbar>

<div class="container-mobile">
    <div class="mobile-menu-div mat-elevation-z3">
        <button mat-button class="mobile-menu-btn" [routerLink]="'my-profile'">My Profile</button>
        <button mat-button class="mobile-menu-btn" [routerLink]="'address'">Manage Address</button>
        <button mat-button class="mobile-menu-btn" [routerLink]="'my-orders'">My Order</button>
        <button mat-button class="mobile-menu-btn" [routerLink]="'order-history'">Order History</button>
        <button mat-button class="mobile-menu-btn" [routerLink]="'review-rating-history'">Reviews &
            Ratings</button>
    </div>
    <div class="mobile-account-content">
        <router-outlet />
    </div>
</div>