<div class="container">
    <div class="grid-item">
        <h5 class="heading">ABOUT</h5>
        <h6 class="sub-heading">Contact Us</h6>
        <h6 class="sub-heading">About Us</h6>
        <h6 class="sub-heading">Careers</h6>
    </div>
    <div class="grid-item">
        <h5 class="heading">HELP</h5>
        <h6 class="sub-heading">Payments</h6>
        <h6 class="sub-heading">Shipping</h6>
        <h6 class="sub-heading">Cancellation & Returns</h6>
        <h6 class="sub-heading">FAQ</h6>
    </div>
    <div class="grid-item">
        <h5 class="heading">CONSUMER POLICIY</h5>
        <h6 class="sub-heading">Cancellation & Returns</h6>
        <h6 class="sub-heading">Terms Of Use</h6>
        <h6 class="sub-heading">Security</h6>
        <h6 class="sub-heading">Privacy</h6>
        <h6 class="sub-heading">Sitemap</h6>
    </div>
    <div class="grid-item">
        <h5 class="heading">OFFICE ADDRESS</h5>
        <h6 class="sub-heading">Urban Chic private limited</h6>
        <h6 class="sub-heading">Builiding Alyssa</h6>
        <h6 class="sub-heading">Outer Ring Road</h6>
        <h6 class="sub-heading">Bengluru, 560103</h6>
        <h6 class="sub-heading">Karnatka, India</h6>
    </div>

    <div class="grid-item">
        <img class="logo" src="https://res.cloudinary.com/dziu7iyz1/image/upload/v1727003230/Urban_Chic_o0flqc.png" alt="logo-white">
        <div class="social-div">
            <a href="#"><fa-icon [icon]="faInstagram" class="social-icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faFacebook" class="social-icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faTwitter" class="social-icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faYoutube" class="social-icon"></fa-icon></a>
        </div>
        <p class="copyright">Copyright © 2024 Urban Chic.</p>
        <p class="copyright"> All rights reserved</p>
    </div>
</div>