
    <!-- Product Card -->

    <div class="product-info-div">
        <div class="product-img-div">
            <img [src]="productImageUrl"
                alt="Product Image">
        </div>
        <div class="product-details-div">
            <div>
                <h6 class="product-name" [routerLink]="['product']">Red Tap Casusal Sneaker Shoes Some Random Name Of
                    the Product</h6>
                <div class="rating-div">
                    <div class="rating">
                        3.6
                        <mat-icon class="star">star</mat-icon>
                    </div>
                    <div class="rating-count-div">
                        1,234
                    </div>
                </div>
                <h6 class="price">₹1,02,235</h6>
            </div>
            <!-- <div class="action-div"> -->
                <!-- <mat-icon class="cart-icon">add_shopping_cart</mat-icon> -->
                <!-- <button mat-button class="add-to-cart-btn">Add
                    to cart</button>
                <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
            </div> -->
        </div>
    </div>
    <!-- Product Card Ends Here -->
