.container {
  background-color: #c2f0d4;
  width: 378px;
  height: 620px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: filter 0.2s ease;
}

.blurred {
  filter: blur(2px);
}

h1 {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

h1 .heading-part-1 {
  font-size: 36px;
  font-weight: lighter;
}

h1 .heading-part-2 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
}

.form-group-1 {
  margin-bottom: 15px;
  /* Space between each form group */
  display: flex;
  flex-direction: column;
}

.lbl {
  margin-left: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  /* Space between the label and input */
  font-weight: bold;
  float: left;
  /* Optional: make the label text bold */
}

.form {
  margin-left: 20px;
  display: flex;
}

.inp-1 {
  height: 25px;
  width: 305px;
  padding: 8px;
  font-size: 16px;
  border: 3px solid #4f4b4b;
  border-radius: 8px;
  background-color: #c2f0d4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inp-2 {
  height: 25px;
  width: 215px;
  padding: 8px;
  font-size: 16px;
  border: 3px solid #4f4b4b;
  border-radius: 8px;
  background-color: #c2f0d4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.otp-button {
  font-size: 16px;
  height: 45px;
  width: 90px;
  padding: 5px;
  background-color: #224f34;
  color: white;
  border: 4px solid #224f34;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: baseline;
  margin-left: 7px;
  cursor: pointer;
}

.password-form {
  height: 45px;
  width: 320px;
  margin-bottom: 5px;
  /* Space between each form group */
  display: flex;
  flex-direction: row;
  border: 3px solid #4f4b4b;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.password-inp {
  background-color: #c2f0d4;
  border: 2px solid #c2f0d4;
  border-radius: 8px;
  width: 260px;
  padding: 5px;
}

.password-inp:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.eye-icon {
  height: 45px;
  width: 45px;
  background-color: #c2f0d4;
  border: 2px solid #c2f0d4;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn {
  font-size: 16px;
  height: 45px;
  width: 335px;
  padding: 5px;
  background-color: #224f34;
  color: white;
  border: 4px solid #224f34;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: baseline;
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

h6 {
  font-weight: lighter;
  font-size: 14px;
  margin-left: 21px;
  margin-top: 0;
}

.otp-modal {
  background-color: #c2f0d4;
  width: 370px;
  height: 220px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
}

.otp-modal h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.otp-modal h4 {
  font-size: 12px;
}

.otp-modal .otp-input {
  width: 250px;
  height: 30px;
  border: 3px solid #4f4b4b;
  border-radius: 8px;
  background-color: #c2f0d4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.otp-modal .submit-btn {
  width: 181px;
  height: 40px;
  background-color: #224f34;
  color: white;
  border: 3px solid #224f34;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
  cursor: pointer;
}

.verified {
  color: green;
  font-size: 15px;
  margin-left: 20px;
}

.matched {
  color: green;
  font-size: 15px;
  margin-left: 5px;
}

.tick img {
  height: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 3px;
}