<div class="container">
    <div class="sub-container">
        <div class="icon-div">
            <mat-icon>local_shipping</mat-icon>
        </div>
        <div class="info-div">
            <h5 class="text heading">Total Orders</h5>
            <h6 class="text data">1,223</h6>
        </div>
    </div>
    <div class="sub-container">
        <div class="icon-div">
            <mat-icon>monetization_on</mat-icon>
        </div>
        <div class="info-div">
            <h5 class="text heading">Total Revenue</h5>
            <h6 class="text data">1,223</h6>
        </div>
    </div>
    <div class="sub-container">
        <div class="icon-div">
            <mat-icon>import_export</mat-icon>
        </div>
        <div class="info-div">
            <h5 class="text heading">Total Returns</h5>
            <h6 class="text data">1,223</h6>
        </div>
    </div>
    <div class="sub-container">
        <div class="icon-div">
            <mat-icon>local_mall</mat-icon>
        </div>
        <div class="info-div">
            <h5 class="text heading">Total Products</h5>
            <h6 class="text data">1,223</h6>
        </div>
    </div>
</div>